<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }} | railway</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/atom+xml" title="railway.at Atom Feed" href="http://railway.at/articles.atom" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/blueprint/screen.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/blueprint/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/blueprint/ie.css" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/railway.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css" />
  </head>
  <body>
    <div class="container">
      <div class="span-20">
        <h1><a href="/">railway</a></h1>
      </div>
      <div class="span-4 last">
        <!--<p class="alt">welcome aboard!</p>-->
      </div>
      {{ content }}
      <div id="footer" class="content_box span-24">
        <div class="content_wrapper" style="margin-top:10px;">
          <div style="float:left; margin-bottom:10px;">&copy; 2007-2010 <a href="http://www.railway.at">railway</a></div>
          <div style="float:right; margin-bottom:10px;"><a href="/imprint">Imprint / Impressum</a></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-5420575-1");
      pageTracker._trackPageview();
    </script>
  </body>
</html>